# Created by .ignore support plugin (hsz.mobi)
.idea/
mall-learn.iml
mall-tiny-01/target/generated-sources/
mall-tiny-02/target/generated-sources/
mall-tiny-02/target/generated-test-sources/



# 因为有Redis，不能提交
/mall-tiny-03/src/main/resources/application.yml
